html, body {
    margin: 0;
    padding: 0;
}

.menu {
    top: 0;
    bottom: 0;
    width: 270px;
    height: calc(100vh - 2px);
    border: 1px solid #dddddd;
}

.menu .header {
    width: 100%;
    padding: 10px 0;
    color: #ffffff;
    background-color: #31629F;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.2px;
}

.menu nav {
    overflow-y: auto;
    overflow-x: hidden;
    width: 270px;
    top: 0;
    bottom: 0;
}

.menu nav ul {
    /* position: relative; */
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu nav ul.wrapper {
    position: static;
}

.menu nav ul li {
    position: relative;
}

.menu nav ul li::before {
    content: "";
    display: block;
    width: 90%;
    height: 1px;
    background-color: #000;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.menu nav ul li:last-child::before {
    width: 0;
    height: 0;
}

.menu nav ul li a {
    display: flex;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
    transition: 0.4s ease;
}

.menu nav ul li a:hover {
    color: #31629F;
}

.menu nav ul ul {
    display: none;
    position: absolute;
    width: 200px;
    top: 0;
    left: 270px;
    background-color: #ffffff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.menu nav ul span {
    position: absolute;
    right: 20px;
    font-size: 20px;
    line-height: 12px;
}

.menu nav ul li:dropdown {
    position: relative;
}

.menu nav ul li.dropdown:hover > ul {
    display: initial;
}

.menu nav ul li.dropdown_2 ul {
    position: absolute;
    left: 200px;
    top: 0;
    
}

.menu nav ul li.dropdown_2:hover > ul {
    display: initial;
}

.menu nav ul li.dropdown_3 ul {
    position: absolute;
    left: 200px;
    top: 0;
    
}

.menu nav ul li.dropdown_3:hover > ul {
    display: initial;
}

.menu nav ul li.dropdown_4 ul {
    position: absolute;
    left: 200px;
    top: 0;
    
}

.menu nav ul li.dropdown_4:hover > ul {
    display: initial;
}

.menu nav ul li.dropdown_5 ul {
    position: absolute;
    left: 200px;
    top: 0;
    
}

.menu nav ul li.dropdown_5:hover > ul {
    display: initial;
}

.menu nav ul li.dropdown_6 ul {
    position: absolute;
    left: 200px;
    top: 0;
    
}

.menu nav ul li.dropdown_6:hover > ul {
    display: initial;
}